@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&family=Quicksand&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --neon-btn-one: #ffcc33;
    --neon-btn-two: #150223;
    --background-body: #fff;
    --navbar-gradient: linear-gradient(to right, #845ec2, #7862c7, #6b66ca, #5c6ace, #4b6ed0, #3874d0, #2279cf, #007ecc, #0085c4, #0089b8, #008ca9, #008e9b);
}

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    border: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    font-family: 'Space Mono', monospace !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    background-color: var(--background-body) !important;
}

body::-webkit-scrollbar{
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

/************ neon buttons ************/

.neon-button{
    border: 2px var(--neon-btn-two) solid;
    box-shadow: inset 0 0 0.5em 0 var(--neon-btn-two), 0 0 0.5em 0 var(--neon-btn-two);
    position: relative;
    z-index: 2;
}

.neon-button::before,
.neon-button:hover::before{
    content: "";
    position: absolute;
    background: var(--neon-btn-two);
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
}

/************** Background CSS **************/
.bg-black{
    background-color: #151515 !important;
}
.bg-black-2{
    background-color: #333333 !important;
}

/************** Gradients ******************/
.bg-gradient-purple{
    background-image: linear-gradient(to right top, #8a69a2, #966db8, #a271cf, #ad76e6, #b87afe);
}

.gradient-1{
    background-image: var(--navbar-gradient);
}
.gradient-2{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.gradient-3{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.gradient-4{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.gradient-5{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.gradient-6{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/************** Banner CSS *****************/
.banner{
    height: 100vh;    
}
.banner .tagline{
    letter-spacing: 0.8px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.banner img {
    animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

.home .row{
    height: 100%;
}

/************** Sections CSS **************/
.description,
.description-challenges,
.description-benefits,
.description-features{
    height: fit-content;
}

.description-box,
.description-challenges-box,
.description-benefits-box,
.description-features-box{
    background: #151515;
    border-radius: 15px;
    text-align: center;
    margin-top: -60px;
}

.description-challenges-box{
    background: #e4d5fb;
    margin-top: 25px;
}

.description-benefits-box{
    background: #d5a0c5;
    color: #121212;
    margin-top: 5rem;
}

.description-features-box{
    background: #fff;
    margin-top: 10rem;
}

.background-img-left,
.abstract-bg-5{
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
}


.register.container-fluid,
.login.container-fluid,
.success.container-fluid{
    height: 100vh;
}
.img-container{
    height: 100%;
}


.register .card,
.login .card,
.success .card{
    transform: translateY(-10%);
}


.success .card{
    height: 50vh;
}
.success .card-title{
    font-size: 2.5rem;
}

.check-mark{
    height: 100px;
    width: 100px;
    display: block;
}

.card-title{
    letter-spacing: 0.8rem;
}
.hero-title{
    letter-spacing: 0.6rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg{
    color: crimson;
}

.form-section{
    align-items: center;
}
.title-section{
    align-items: center;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.logo{
    height: 80px;
    width: 180px;
}

@media only screen and (max-width: 768px){
    .card-title{
        letter-spacing: 0.3rem;
    }

    .login .card{
        height: 60vh;
    }
}

