@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

:root{
    --neon-btn-one: #ffcc33;
}

*{
    outline: none !important;
    border: none;
}

body{
    font-family: 'Quicksand', sans-serif !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.register.container-fluid,
.login.container-fluid,
.success.container-fluid{
    height: 100vh;
}
.img-container{
    height: 100%;
    justify-items: center;
    display: flex;
}

.register .card,
.login .card,
.success .card{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    opacity: 0.97;
}

.success .card{
    height: 50vh;
    opacity: 0.9;
}

.check-mark{
    height: 100px;
    width: 100px;
    display: block;
}

.card-title{
    letter-spacing: 0.8rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg{
    color: crimson;
}

.form-section{
    align-items: center;
}
.title-section{
    align-items: center;
}

@media only screen and (max-width: 768px){
    .card-title{
        letter-spacing: 0.3rem;
    }

    .title-section{
        display: none;
    }

    .login .card{
        height: 60vh;
    }
}

